body {
    margin: 0;
    padding: 0;
}

.headerMain {
    height: 190px;
    width: 100%;
}

.firstHeader {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.phoneEmail {
    margin-left: 60px;
}

.nameLogout {
    margin-right: 40px;
}

.phoneEmail,
.nameLogout {
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.phone,
.email {
    display: flex;
    height: 30px;
    vertical-align: middle;
    align-items: center;
    gap: 16px;
}

.phoneEmail label,
.nameLogout label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(12px, 1.2vw, 20px);

}

.logout button {
    height: 35px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #1488CC;
    border: 1px solid #1488CC;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.secondHeader {
    width: 90%;
    height: 120px;
    padding: 0px 5%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hyperLinks {
    width: 40%;
    height: auto;
}

.hyperLinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.hyperLinks ul a {
    text-decoration: none;
    color: black;
}

.browseMoreCourseButton button a {
    text-decoration: none;
    color: white;
}

.hyperLinks ul li:hover {
    color: #1488CC;
    cursor: pointer;
}

.contactUsButton button,
.browseMoreCourseButton button,
.leftLabelsAndButtons button,
.flexLearning .leftComponent .registerButton button {
    padding: 12px 24px;
    border-radius: 5px;
    background-color: #1488CC;
    border: 1px solid #1488CC;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.logo img {
    width: clamp(80%, 20vw, 100%);
    height: auto;
}

.flexLearning {
    height: auto;
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.flexLearning .rightComponent {
    width: 70%;
    height: auto;
}

.flexLearning .rightComponent img {
    height: auto;
    width: 100%;
    min-width: 500px;
}

.flexLearning .leftComponent {
    width: 30%;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexLearning .leftComponent .flexLearn {
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(40px, 4vw, 80px);
    font-weight: 400;
    color: #1488CC;
    line-height: 96px;
}

.flexLearning .leftComponent .secondHeading {
    font-family: "Inter", sans-serif;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 500;
    line-height: 55px;
}

.flexLearning .leftComponent .registerButton {
    margin-top: 35px;
}

.featuredCourses {
    width: 90%;
    padding: 0px 5%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.featuredCourses .headingLabels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featuredCourses .headingLabels label:first-child {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #1488CC;
}

.featuredCourses .headingLabels label:last-child {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.categoryCourses {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 35px;
}

.category {
    width: 100%;
    height: auto;
}

.category ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.cardsCourses {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    grid-auto-rows: auto;
    grid-gap: 20px;
}

.mainCard {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courseImg {
    height: 250px;
    width: 100%;
}

.courseImg img {
    width: 100%;
    height: 100%;
}

.courseInfo {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.courseInfo label:nth-child(1) span,
.rightComponentsList label:nth-child(1) {
    border: 2px solid #1488CC;
    color: #1488CC;
    border-radius: 50px;
    padding: 8px 16px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.courseInfo label:nth-child(2),
.rightComponentsList label:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}

.courseInfo label:nth-child(3),
.rightComponentsList label:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #676767;
}

.courseInfo label:nth-child(3) span:first-child {
    display: flex;
    align-items: center;
}

.learnMore {
    width: 100%;
    height: 40px;
    background-color: #EDF2FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.learnMore label,
.rightComponentsList label:nth-child(4) {
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;

}

.browseMoreCourseButton {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intructorDiv {
    height: auto;
    width: 90%;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDF2FF;
}

.rightInstructorImage {
    width: 25%;
    height: auto;
}

.rightInstructorImage img {
    width: 100%;
    height: auto;
}

.leftLabelsAndButtons {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftLabelsAndButtons label:nth-child(1),
.leftLabelsAndButtons label:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 64px;
}

.leftLabelsAndButtons label:nth-child(2) {
    color: #1488CC;
}

.leftLabelsAndButtons p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #676767;
}

.footer {
    margin-top: 100px;
    min-height: 500px;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 50px 5%;
    position: relative;
}

.topDetails {
    height: 90%;
    width: 100%;
    display: flex;
    gap: 100px;
}

.copyrightinfo {
    height: 50px;
    width: 90%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
}

.logoAndInfo {
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.linksAndMore {
    height: auto;
    width: 75%;
    display: flex;
    gap: 50px;
}

.socialMedia {
    display: flex;
    gap: 40px;
    align-items: center;
}

.linksAndMore div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.linksAndMore div label {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.linksAndMore div label:first-child {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.linksAndMore div:nth-child(1) {
    width: 25%;
}

.linksAndMore div:nth-child(2) {
    width: 35%;
}

.linksAndMore div:nth-child(3) {
    width: 35%;
}

.linksAndMore div:nth-child(2) label,
.linksAndMore div:nth-child(3) label {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coursesFirstDiv {
    height: auto;
    width: 100%;
}

.coursesMainImage {
    height: auto;
    width: 100%;
}

.entriesSearch {
    width: 90%;
    height: 100px;
    background-color: #EDF2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}

.entrySorting {
    display: flex;
    gap: 40px;
    align-items: center;
}

.entrySorting label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

.searching input {
    height: 100%;
    width: 100%;
    border: 1px solid #1488CC;
    border-radius: 10px;
    padding-left: 15px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    position: absolute;
}

.searching {
    position: relative;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
}

.searching img {
    position: absolute;
    right: 0;
}

.cardCourses-2 {
    justify-content: space-evenly;
    padding: 50px 5%;
    width: 90%;
}

.listViewCourses {
    padding: 5%;
    height: auto;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.listCard {
    display: flex;
    align-items: center;
    gap: 48px;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #DADADA;
}

.leftImageList {
    width: 20%;
    height: auto;
}

.leftImageList img {
    height: auto;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
}

.rightComponentsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 80%;
}

.rightComponentsList label:nth-child(4) {
    color: rgba(20, 136, 204, 1);
}

.activeLinkClass {
    color: #1488CC;
}

@media (width<=1200px) {
    .topDetails {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .logoAndInfo {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .linksAndMore {
        width: 100%;
        gap: 40px;
    }

    .footer {
        width: 95%;
        padding: 50px 2.5%;
    }
}

@media (width<=700px) {
    .listCard {
        flex-direction: column;
        height: 500px;
    }

    .leftImageList {
        width: 100%;
        height: auto;
    }

    .leftImageList img {
        width: 100%;
        max-height: 200px;
        height: auto;
    }

    .listViewCourses {
        gap: 35px;
    }

    .linksAndMore {
        flex-direction: column;
        gap: 50px;
    }

    .linksAndMore div:nth-child(1),
    .linksAndMore div:nth-child(2),
    .linksAndMore div:nth-child(3) {
        width: 100%;
    }

    .footer {
        width: 90%;
        padding: 50px 5%;
    }
}